<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-button (click)="signOut()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-button slot="end" fill="solid" color="success" routerLink="/admin-dashboard" padding-horizontal>
            <ion-icon slot="start" name="lock"></ion-icon> Admin Dashboard
        </ion-button>
        <ion-title>User Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>