<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-button (click)="signOut()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-button slot="end" fill="solid" color="success" routerLink="/user-dashboard" padding-horizontal>
            <ion-icon slot="start" name="person"></ion-icon> User Dashboard
        </ion-button>
        <ion-title>Admin Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>