<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Authentication Example</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Select an account and click Login.</ion-label>
        </ion-list-header>

        <ion-radio-group (ionChange)="radioGroupChange($event)">
            <ion-item *ngFor="let user of users">
                <ion-label>{{user.email}}</ion-label>
                <ion-radio slot="start" value="{{user.email}}" checked="{{user.checked}}"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" placeholder="Email" [(ngModel)]="userCredential.email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" placeholder="Password" [(ngModel)]="userCredential.pwd"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="signIn()">Login</ion-button>
</ion-content>